.product-card-link,
.product-card-link:visited
{
    text-decoration: none;
    color: inherit;
}

.product-card-link:hover
{
    background-color: #dfdfdf81;
}

.product-card-container
{
    display: flex;
    /* overflow-x: auto;
    overflow-y: hidden; */
    flex-wrap: wrap;
    min-height: 20rem;
}

.product-card
{
    width: 15rem;
    min-width: 15rem;
    height: 90%;
}

.product-card-img
{
    height: 15rem; 
    max-width: 90%; 
    display: flex; 
    margin-left: auto; 
    margin-right: auto;
}